API_KEY="replace-with-your-api-key"
DATABASE_URL="postgresql://user:password@db_service:5432/mydb"

# Won't use in prod
OPENAI_BASE_URL="http://model-runner.docker.internal/engines/v1"
OPENAI_MODEL_NAME="qwen2.5:3B-Q4_K_M"
OPENAI_API_KEY="replace-with-your-openai-key"
EMAIL_ADDRESS="you@example.com"
EMAIL_PASSWORD="your-app-password" # app password
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587 # smtp
PARALLEL_API_KEY="replace-with-your-parallel-api-key"
CORS_ALLOWED_ORIGINS="http://localhost:3000,http://127.0.0.1:3000,http://frontend,http://localhost"
