API_KEY="abc123"
DATABASE_URL="postgresql+psycopg://dbuser:dbpass@db_service:5432/mydb"

# Won't use in prod
OPENAI_BASE_URL="http://model-runner.docker.internal/engines/v1"
OPENAI_MODEL_NAME="ai/gemma3:4b-q4_K_M"
OPENAI_API_KEY="not-needed"
EMAIL_ADDRESS="email@gmail.com"
EMAIL_PASSWORD="" # app password
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587